body {
    font-family: Arial, sans-serif;
    background-color: #c9d6ff;
    background:linear-gradient(to right,#e2e2e2,#c9d6ff);
    padding: 20px;
}
h1 {
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.delete-btn:hover {
    background-color: #c0392b;
}
nav {
    gap: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
nav form button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
nav form button:hover {
    background-color: #2980b9;
}